PG0395-CPotentialOutliers.txt
PG0395-CaltVsRefAndWSAFvsPLAF.png
PG0396-C_seed5k5.hap
PG0396-C_seed5k5.interpretDEploidFigure.1.png
PG0396-C_seed5k5.interpretDEploidFigure.2.png
PG0396-C_seed5k5.llk
PG0396-C_seed5k5.log
PG0396-C_seed5k5.painting.log
PG0396-C_seed5k5.prop
PG0396-C_seed5k5.single0
PG0396-C_seed5k5.single0.png
PG0396-C_seed5k5.single1
PG0396-C_seed5k5.single1.png
PG0396-C_seed5k5.single2
PG0396-C_seed5k5.single2.png
PG0396-C_seed5k5.single3
PG0396-C_seed5k5.single3.png
PG0396-C_seed5k5.single4
PG0396-C_seed5k5.single4.png
PG0396-C_seed5k5dic.log
